{% extends 'base.html' %}

{% block content %}

<div class="bg-light p-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mt-5">
                <h1 class="mb-4">Login</h1>
                <div class="col-xs-12 col-md-8 col-lg-5 text-center m-auto">
                    <form class="form-signin" method="POST">

                        <div class="form-group text-left">
                            <label>Email</label>
                            <input type="email" id="email" class="form-control" name="email" 
                                   placeholder="Ex.: email@dominio.com" autofocus="" autocomplete="off" required />
                        </div>

                        <div class="form-group text-left">
                            <label>Senha</label>
                            <input type="password" id="senha" class="form-control" name="senha" 
                                   placeholder="Ex.: ******" autocomplete="off" required />
                        </div>
                        
                        <button class="btn btn-lg btn-nowi-primary btn-block" type="submit">Acessar</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}